//MARK: fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');

//Mark: colors
$offWhiteColor: #EFEFEF;
$darkBlueColor: #2C6CD9;
$lightWhiteColor: #F8F8F8;
$secondary: #EFEFEF;
$darkBlackColor: #1C1C1E;
$mediumGrayColor: #1F1F1F;
$babyBlueColor:  #6FAED8;
$honeyYellowColor: #F4AC0C;
$springGreenColor: #228166;
$royalGreenColor: #12390c;
$dolphinBlueColor: #006C93;

//Mark: screen sizes
$screen-xs: 575px;
$screen-sm: 767px;
$screen-md: 991px;
$screen-lg: 1199px;