//MARK: fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

//Mark: colors
$offWhiteColor: #EFEFEF;
$darkBlueColor: #2C6CD9;

//Mark: screen sizes
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;