/* src/assets/styles/fonts.scss */
@font-face {
  font-family: "Mardoto";
  src: url("/src/assets/fonts/Mardoto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mardoto";
  src: url("/src/assets/fonts/Mardoto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mardoto";
  src: url("/src/assets/fonts/Mardoto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mardoto";
  src: url("/src/assets/fonts/Mardoto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NiveauGrotesk";
  src: url("/src/assets/fonts/Niveau-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "NiveauGrotesk";
  src: url("/src/assets/fonts/Niveau-Lig.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NiveauGrotesk";
  src: url("/src/assets/fonts/Niveau-LigIta.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "NiveauGrotesk";
  src: url("/src/assets/fonts/Niveau-Reg.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "NiveauGrotesk";
  src: url("/src/assets/fonts/Niveau-Med.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "NiveauGrotesk";
  src: url("/src/assets/fonts/Niveau-Bol.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
