@use "@/assets/styles/variables.scss" as *;
.removePadding {
  padding: 0;
}
.removeMargin {
  margin: 0;
}
.tintFont {
  color: $dolphinBlueColor;
}
.coverTitle {
  padding-bottom: 1%;
  font-size: 3.125vw;
  font-weight: 400;
  text-align: start;
  @media (max-width: $screen-md) {
    font-size: 6.7vw;
    text-align: center;
  }
}
