@use "@/assets/styles/variables.scss" as *;
@use "@/assets/styles/fonts.scss" as *;

//MARK: global styles
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
html {
  scroll-behavior: smooth;
}
#app {
  // backup font styles
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Nunito", sans-serif;
  color: $darkBlackColor;
  // backup background color
  background-color: $lightWhiteColor;
}

.removePadding {
  padding: 0;
}
.removeMargin {
  margin: 0;
}
.tintFont {
  color: $dolphinBlueColor;
}
.coverTitle {
  padding-bottom: 1%;
  font-size: 3.125vw;
  font-weight: 400;
  text-align: start;
  @media (max-width: $screen-md) {
    font-size: 6.7vw;
    text-align: center;
  }
}
.componentTitle {
  font-size: 2.5vw;
  font-weight: 600;
  text-align: start;
  line-height: 3.25vw;
  @media (max-width: $screen-md) {
    font-size: 5.58vw;
    line-height: 6.5vw;
    text-align: center;
  }
}
.componentTitleContainer {
  margin-top: 35px;
  margin-bottom: 35px;
}
.componentSubtitleContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}
.componentCarouselTitleContainer {
  margin-top: 20px;
  //carousel slides add 10px padding-top
  margin-bottom: 10px;
}
.aboutMeDescription {
  font-weight: 400;
  font-size: 1.25vw;
  text-align: start;
  white-space: pre-line;
  line-height: 1.25;
  @media (max-width: $screen-md) {
    font-size: 3.8vw;
  }
  .tintFont {
    font-weight: 600;
  }
}
.cardTitle {
  font-weight: 500;
  font-size: 1.9vw;
  text-align: center;
  @media (max-width: $screen-md) {
    font-size: 3.8vw;
  }
}
.cardSubtitle {
  font-size: 1.4vw;
  font-weight: 600;
  text-align: center;
  color: $dolphinBlueColor;
  @media (max-width: $screen-md) {
    font-size: 2.8vw;
  }
}
.cardParagraph {
  font-size: 1.3vw;
  font-weight: 400;
  text-align: center;
  line-height: 1.25;
  @media (max-width: $screen-md) {
    font-size: 3.4vw;
  }
}
.cardContainer,
.carouselContainer {
  margin-bottom: 25px;
}
.paddingForCarouselNav {
  padding-bottom: 30px;
}
//MARK: carousel navigation customization
.carousel__prev {
  left: -40px !important;
}
.carousel__next {
  right: -40px !important;
}
.carousel__slide {
  padding: 10px calc(var(--bs-gutter-x) * 0.5) !important;
}
.cursorPointer {
  cursor: pointer;
}
// component animation
.before-enter {
  opacity: 0;
  z-index: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}
.enter {
  opacity: 1;
  z-index: 1;
  transform: translateY(0px);
}
