@use "@/assets/styles/variables.scss" as *;
@use "@/assets/styles/fonts.scss" as *;
// @use "@/assets/styles/mixins.scss" as *;

//MARK: global styles
html,
body {
  // width: 100%;
  // height: 100%;
  // overflow-y: scroll;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // -webkit-overflow-scrolling: touch;
}
html {
  scroll-behavior: smooth;
  // responsive font size (rem)
  font-size: clamp(12px, 1.1vw, 36px);
  @media (orientation: portrait) and (min-width: $screen-xs) {
    // needed to upper-bound clamp in portrait mode - ipad
    font-size: clamp(12px, 2.1vw, 18px);
  }
  @media (orientation: landscape) and (max-width: $screen-md) {
    // assists with smoothening smaller landscape screens - nest
    font-size: clamp(12px, 1.5vw, 18px);
  }
}
// body {
//   font-size: 1rem;
//   line-height: 1.5;
// }
#app {
  // min-height: 100vh;
  // display: block;
  // position: relative;
  // flex-direction: column;
  // backup font styles
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Nunito", sans-serif;
  color: $darkBlackColor;
}
//MARK: font styles
.tintFont {
  color: $dolphinBlueColor;
}
.urlFont {
  cursor: pointer;
  font-style: italic;
  text-decoration: underline;
  color: $dolphinBlueColor;
}
.responsiveTextAlign {
  text-align: start;
  @media (orientation: portrait) {
    text-align: center;
  }
}
.coverTitle {
  @extend .responsiveTextAlign;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.75rem;
}
.coverPara {
  @extend .responsiveTextAlign;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.625rem;
}
.coverResume {
  @extend .responsiveTextAlign;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.375rem;
}
.scrollMoreText {
  margin: 0;
  text-align: start;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.375rem;
  @media (orientation: portrait) {
    color: $offWhiteColor;
  }
}
.componentTitle {
  margin: 0;
  @extend .responsiveTextAlign;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.25rem;
}
.aboutMeDescription {
  margin: 0;
  text-align: start;
  white-space: pre-line;
  .tintFont {
    font-weight: 600;
  }
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.375rem;
}
.cardTitle {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.625rem;
}
.cardSubtitle {
  text-align: center;
  color: $dolphinBlueColor;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  font-weight: 600;
}
.cardParagraph {
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.375rem;
}
.overlayText {
  text-align: center;
  margin: 0;
  color: $lightWhiteColor;
  //safety css
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.25rem;
}
.componentContainerPadding {
  padding: 5% 7.5% 5% 7.5%;
}
.componentTitleContainer {
  margin-top: 35px;
  margin-bottom: 35px;
}
.componentSubtitleContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}
.cardContainer,
.carouselContainer {
  margin-bottom: 25px;
  padding: 0;
}
.paddingForCarouselNav {
  padding-bottom: 30px;
}
//MARK: carousel navigation customization
.carousel__prev {
  left: -2.75rem !important;
}
.carousel__next {
  right: -2.75rem !important;
}
// component animation
.before-enter {
  opacity: 0;
  z-index: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}
.enter {
  opacity: 1;
  z-index: 1;
  transform: translateY(0px);
}
//MARK: loading screen scss (should be global)
.loader {
  //background
  inset: 0; //sets top, right, bottom, left to 0
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $dolphinBlueColor;
  //loading image
  background-image: url("@/assets/loading-moving-car.svg");
  background-position: center;
  background-repeat: no-repeat;
  //safety settings
  overflow: hidden;
  z-index: 9999; // should be at the top of every element
  // pointer-events: auto;
}
.fadeoutLoader {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 2s ease,
    visibility 2s ease;
  //allow click through
  pointer-events: none;
}
.no-scroll {
  overflow: hidden !important;
  height: 100%;
  overscroll-behavior: none;
}
