@use "@/assets/styles/variables.scss" as *;
@use "@/assets/styles/fonts.scss" as *;
@use "@/assets/styles/mixins.scss" as *;

//MARK: global styles
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
html {
  scroll-behavior: smooth;
}
#app {
  // backup font styles
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Nunito", sans-serif;
  color: $darkBlackColor;
  // backup background color
  background-color: $lightWhiteColor;
}
// p {
//   margin: 0px !important;
// }

.removePadding {
  padding: 0;
}
.removeMargin {
  margin: 0;
}
.tintFont {
  color: $dolphinBlueColor;
}
.responsiveTextAlign {
  text-align: start;
  @media (orientation: portrait) {
    text-align: center;
  }
}
.coverTitle {
  @extend .responsiveTextAlign;
  @include orientation-responsive-font(2.8vw, 400);
}
.coverPara {
  // margin-bottom: 10%;
  @extend .responsiveTextAlign;
  @include orientation-responsive-font(1.8vw, 500);
}
.coverResume {
  @extend .responsiveTextAlign;
  @include orientation-responsive-font(1.35vw, 600);
}
.scrollMoreText {
  display: inline-block;
  text-align: start;
  @media (orientation: portrait) {
    color: $offWhiteColor;
  }
  @include orientation-responsive-font(1.35vw, 600);
}
.componentTitle {
  margin: 0;
  @extend .responsiveTextAlign;
  @include responsive-font(2.35vw, 600);
}
.componentTitleContainer {
  margin-top: 35px;
  margin-bottom: 35px;
}
.componentSubtitleContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}
.componentCarouselTitleContainer {
  margin-top: 20px;
  //carousel slides add 10px padding-top
  margin-bottom: 10px;
}
.aboutMeDescription {
  white-space: pre-line;
  .tintFont {
    font-weight: 600;
  }
  text-align: start;
  @include responsive-font(1.2vw, 400);
}
.cardTitle {
  margin: 0;
  text-align: center;
  @include responsive-font(1.7vw, 500);
}
.cardSubtitle {
  text-align: center;
  color: $dolphinBlueColor;
  @include responsive-font(1.2vw, 600);
}
.cardParagraph {
  text-align: center;
  @include responsive-font(1.25vw, 400);
}
.cardContainer,
.carouselContainer {
  margin-bottom: 25px;
}
.paddingForCarouselNav {
  padding-bottom: 30px;
}

//MARK: carousel navigation customization
.carousel__prev {
  left: -40px !important;
}
.carousel__next {
  right: -40px !important;
}
.carousel__slide {
  padding: 10px calc(var(--bs-gutter-x) * 0.5) !important;
}
.cursorPointer {
  cursor: pointer;
}
// component animation
.before-enter {
  opacity: 0;
  z-index: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}
.enter {
  opacity: 1;
  z-index: 1;
  transform: translateY(0px);
}
