//MARK: fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap");

//Mark: colors
$offWhiteColor: #efefef;
$darkBlueColor: #2c6cd9;
$lightWhiteColor: #f8f8f8;
$secondary: #efefef;
$darkBlackColor: #1c1c1e;
$mediumGrayColor: #1f1f1f;
$babyBlueColor: #6faed8;
$honeyYellowColor: #f4ac0c;
$springGreenColor: #228166;
$royalGreenColor: #12390c;
$dolphinBlueColor: #006c93;

//Mark: screen sizes
$screen-xs: 575px;
$screen-sm: 767px;
$screen-md: 991px;
$screen-lg: 1199px;

//Mark: carousel component style variables
:root {
  --vc-nav-color: #{$dolphinBlueColor};
  --vc-pgn-background-color: #{$offWhiteColor};
  --vc-pgn-active-color: #{$dolphinBlueColor};
  // adding 10px to the margin for recommendation card effect
  --vc-pgn-margin: 16px 5px;
  @media (max-width: $screen-md) {
    --vc-pgn-margin: 6px 5px;
  }
}
