//MARK: fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap");

//Mark: colors
$offWhiteColor: #e8e8e8;
$darkBlueColor: #2c6cd9;
$lightWhiteColor: #f4f4f4;
$secondary: #e8e8e8;
$darkBlackColor: #1c1c1e;
$mediumGrayColor: #1f1f1f;
$babyBlueColor: #6faed8;
$honeyYellowColor: #f4ac0c;
$springGreenColor: #228166;
$royalGreenColor: #12390c;
$dolphinBlueColor: #006c93;

//Mark: screen sizes
$screen-xs: 575px;
$screen-sm: 767px;
$screen-md: 991px;
$screen-lg: 1199px;

//Mark: carousel component style variables
:root {
  //vc-navigation
  --vc-nav-width: 35px;
  --vc-nav-height: 35px;
  --vc-nav-color: #{$dolphinBlueColor};
  --vc-nav-color-hover: #{rgba($dolphinBlueColor, 0.5)};
  //vc-pagination
  --vc-pgn-background-color: #{rgba($dolphinBlueColor, 0.5)};
  --vc-pgn-active-color: #{$dolphinBlueColor};
}
