//MARK: fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap");

//Mark: colors
$offWhiteColor: #efefef;
$darkBlueColor: #2c6cd9;
$lightWhiteColor: #f8f8f8;
$secondary: #efefef;
$darkBlackColor: #1c1c1e;
$mediumGrayColor: #1f1f1f;
$babyBlueColor: #6faed8;
$honeyYellowColor: #f4ac0c;
$springGreenColor: #228166;
$royalGreenColor: #12390c;
$dolphinBlueColor: #006c93;

//Mark: screen sizes
$screen-xs: 575px;
$screen-sm: 767px;
$screen-md: 991px;
$screen-lg: 1199px;

//Mark: carousel component style variables
:root {
  //vc-navigation
  --vc-nav-width: 35px;
  --vc-nav-height: 35px;
  --vc-nav-color: #{$dolphinBlueColor};
  --vc-nav-color-hover: rgba(0, 108, 147, 0.75);
  //vc-pagination
  --vc-pgn-background-color: rgba(0, 108, 147, 0.5);
  --vc-pgn-active-color: #{$dolphinBlueColor};
}
